<!--Ejemplo Tarjetas

<div class="row my-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-danger">
                <h2>{{miPersona.nombre}}</h2>
            </div>
            <div class="card-body">
                <p><strong>Edad: </strong>{{miPersona.edad}}</p>
            </div>
            <div class="card-footer">
                <p class="text-muted">Es mayor de edad? {{miPersona.mayor}}</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 my-2 text-center">
            <button class="btn btn-danger" (click)="cambiarNombre('Miguel')">Miguel</button>
        </div>
        <div class="col-md-6 offset-md-3 my-2 text-center">
            <button class="btn btn-danger" (click)="cambiarNombre('Pepe')">Pepe</button>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-4" *ngFor="let trabajador of trabajadores">
        <div class="card">
            <div class="card-header bg-danger">
                <h2>{{trabajador.persona.nombre}}</h2>
            </div>
            <div class="card-body">
                <p><strong>Edad: </strong>{{trabajador.persona.edad}}</p>
                <p><strong>Profesión: </strong>{{trabajador.profesion}}</p>
            </div>
            <div class="card-footer">
                <p class="text-muted">Es mayor de edad?
                {{trabajador.persona.mayor}}</p>
            </div>
        </div>
    </div>
</div> -->


